Tuple : ordered , immutable , allows duplicate element

In [2]:
myTuple = "Max",30,"class:30"
print(myTuple)

('Max', 30, 'class:30')

In [6]:
for i in myTuple:
    print(i)

Max
30
class:30

In [5]:
def fun():
   if "ankit" in myTuple:
     return "yess"
   else:
    return "no"
fun()

'no'

In [9]:
my_tuple = ('a','p','p','l','e')
print(len(my_tuple))
print(my_tuple.count('p'))
print(my_tuple.index('a'))

5
2
0

In [11]:
my_list = list(my_tuple)
print(my_tuple)

my_tuple2 = tuple(my_list)
print(my_tuple2)

('a', 'p', 'p', 'l', 'e')
('a', 'p', 'p', 'l', 'e')

In [12]:
a =(1,2,3,4,5,6,7,8,9)
b=a[::-1]
print(b)

(9, 8, 7, 6, 5, 4, 3, 2, 1)

In [ ]:
my_tuple = "maxxx" , 39,"ktm"
name , age, city = my_tuple
print(name)
print(age)
print(city)

max
39
ktm

In [14]:
my_tuple = (1,2,3,4,5)
i1,*i2,i3=my_tuple
print(i1)
print(i3)
print(i2)

1
5
[2, 3, 4]